*{
    font-family: 'Poppins', sans-serif;
    color: black;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
.col-md-1 img{
    height: 350px;
}
.car{
    padding-left: 20px;
    padding-right: 20px;
}
.btn-primary{
    background-color: black !important;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
.bar-col{
    background-color: rgba(128, 128, 128, 0.3) !important;
    height: 5px;
    width: 30px;
    transition: .5s;
}
.con-margin{
    margin-top: 70px;
}
.card-body h5, .card-body p{
    text-align: center;
}
.card-footer{
    text-align: center;
    background-color: transparent;
    border: none;
    
}
.card-footer h5{
    padding-bottom:10px;
}
.card{
    border: none;
    box-shadow: 3px 3px 10px rgb(216, 210, 210);
    border-radius: 10px;
}
.card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.underline{
    width: 120px;
    height: 10px;
    background-image: linear-gradient(to left,rgb(255, 217, 0), rgb(255, 102, 0));
    border-radius: 5px;

}
.div1,.div2{
    box-shadow: 3px 3px 10px rgb(216, 210, 210);
    margin-top: 20px;
    padding: 60px;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 30px;
    text-align: center;
}

.col-md-6 img{
    width: 100%;
    height: 100%;
}

.div0{
    padding: 60px;
    box-shadow: 3px 3px 10px rgb(216, 210, 210);
    border-bottom-left-radius: 30px;
    border-top-right-radius: 15px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}
.carousel-indicators .active{
    background-image: linear-gradient(to left,rgb(255, 217, 0), rgb(255, 102, 0));
    height: 5px;
    width: 50px;
    transition: .5s;
}



